<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/grid.css">
    <link rel="stylesheet" href="stylesheets/myCustom.css">
    <link rel="stylesheet" href="stylesheets/jquery.mCustomScrollbar.css">
</head>
<body>


<div class="container-fluid" id="main-container">
    <div class="row" id="main">

        <!-- left side -->
        <div class="col-md-5 col-xs-5" id="left-column">

            <!-- tabs here -->
            <ul class="nav nav-tabs border-right">
                <li class="active"><a data-toggle="tab" href="#tab0">r/all</a></li>
                <li><a data-toggle="tab" href="#tab1">blahblahblah</a></li>
            </ul>


            <div class="well border-right" id="left-column-0">

                <div class="tab-content">
                    <div id="tab0" class="tab-pane fade in active">



                    </div>

                    <div id="tab1" class="tab-pane fade">

                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>

            </div>
        </div>






        <!-- right side -->
        <div class="col-md-7 col-xs-7" id="right-column">
            <div class="well border-bottom" id="right-column-0">
                <h4>Dashboard</h4>
                <p>Some text..</p>

                <p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p>


            </div>

            <div class="well" id="right-column-1">
                <h4>Dashboard</h4>
                <p>Some text..</p>

                <p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p><p>Left contents</p>


            </div>
        </div>
    </div>
</div>














<script src="javascripts/jquery-3.1.1.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.mCustomScrollbar.js"></script>

<script src="javascripts/customScrollbar.js"></script>
<script src="javascripts/indexMain.js"></script>
</body>
</html>
