<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/grid.css">
    <link rel="stylesheet" href="stylesheets/myCustom.css">
    <link rel="stylesheet" href="stylesheets/jquery.mCustomScrollbar.css">

    <link rel="icon" type="image/png" href="favicon.png" />
</head>
<body>


<div class="container-fluid" id="main-container">
    <div class="row" id="main">

        <!-- left side -->
        <div class="col-md-12 col-xs-12" id="left-column">

            <!-- tabs here -->
            <ul class="nav nav-tabs bold orange-tint-gradient" id="nav">

                <!-- todo: horizontal scrolling upon overflow
                        hard to implement; ignore -->
                <li class="active"><a data-toggle="tab" href="#all-body" id="r/all">r/all</a></li>
                <li><a data-toggle="tab" href="#pics-body" id="r/pics">r/pics</a></li>
                <li><a data-toggle="tab" href="#programmerHumor-body" id="r/programmerHumor">r/programmerHumor</a></li>
                <li><a data-toggle="tab" href="#fitness-body" id="r/fitness">r/fitness</a></li>
                <li><a data-toggle="tab" href="#2007scape-body" id="r/2007scape">r/2007scape</a></li>

            </ul>

            <div class="well left-well dark-gradient-mirror" id="left-column-0">

                <div class="tab-content">
                    <div id="all-body" class="tab-pane fade in active">
                        <!-- display reddit posts here -->
                    </div>

                    <!-- r/pics -->
                    <div id="pics-body" class="tab-pane fade"></div>

                    <!-- r/programmerhumor -->
                    <div id="programmerHumor-body" class="tab-pane fade"></div>

                    <!-- r/fitness -->
                    <div id="fitness-body" class="tab-pane fade"></div>

                    <!-- r/2007scape -->
                    <div id="2007scape-body" class="tab-pane fade"></div>

                </div>

            </div>
        </div>






        <!-- right side -->
        <div class="col-md-0 col-xs-0" id="right-column">

            <!-- tabs here -->
            <ul class="nav nav-tabs bold dark-blue-tint-gradient" id="comments-navbar">

                <!--li class="active"><a data-toggle="tab" href="#all-body" id="r/all">r/all</a></li>
                <li><a data-toggle="tab" href="#pics-body" id="r/pics">r/pics</a></li>
                <li><a data-toggle="tab" href="#programmerHumor-body" id="r/programmerHumor">r/programmerHumor</a></li>
                <li><a data-toggle="tab" href="#fitness-body" id="r/fitness">r/fitness</a></li>
                <li><a data-toggle="tab" href="#2007scape-body" id="r/2007scape">r/2007scape</a></li-->

            </ul>


            <div class="well right-well dark-gradient" id="right-column-0">
                <div id="display-comments" class="tab-content">

                    <!--div id="all-body" class="tab-pane fade in active">
                    </div>

                    <div id="pics-body" class="tab-pane fade"></div-->


                </div>
            </div>
        </div>
    </div>
</div>














<script src="javascripts/jquery-3.1.1.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.mCustomScrollbar.js"></script>

<script src="javascripts/socket.io.js"></script>

<script src="javascripts/customScrollbar.js"></script>
<script src="javascripts/indexMain.js"></script>
</body>
</html>
