
/* CUSTOM FONT */
@font-face{
    font-family: Gravity-Book;
    src: url("/Gravity-Book.otf");
}

@font-face{
    font-family: Gravity-Bold;
    src: url("/Gravity-Bold.otf")
}

@font-face {
    font-family: King;
    src: url("/KIN668.TTF");
}

/* GRID CELLS STYLING */

.well {

    min-height: 0;
    padding: 20px;
    margin: 0;
    background-color: #f0dbe4;
    border: 0;
    border-radius: 0;
    border-collapse: collapse;

    /* remove super thin border between cells */
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav{
    min-height: 0;
    margin: 0;
    background-color: #f0cdec;
    border: 0;
    border-radius: 0;
    border-collapse: collapse;

    /* remove super thin border between cells */
    -webkit-box-shadow: none;
    box-shadow: none;
}

.border-left {
    border-left: 1px black solid;
}

.border-bottom {
    border-bottom: 1px black solid;
}

.border-right {
    border-right: 1px black solid;
}

.border-top{
    border-top: 1px black solid;
}

/* MULTI SCROLLING */

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;

    /*font-family: Gravity-Book;*/
    font-family: "Courier New";
}

::-webkit-scrollbar {
    width: 0;
    /* make scrollbar transparent */
    background: transparent;
}

#main-container {
    height: 100vh;
    display: flex;
}

#main {
    flex: 1;
    display: flex;
}

#left-column-0 {
    overflow-y: auto;
    height: 100%;
    flex: 1;
    padding-top: 30px;
    padding-bottom: 20px;
}

#right-column-0, #right-column-1 {
    overflow-y: auto;
    flex: 2;
}

#right-column-0 {
    height: 33%;
}

#right-column-1 {
    height: 67%;
}

/* PADDING */

.container-fluid {
    padding: 0;
}

.col-md-5, .col-xs-5 {
    padding-right: 0;
    /*padding-left: 0;*/
}

.col-md-7, .col-xs-7 {
    padding-left: 0;
    padding-right: 0;
}

/* TABS */

.nav {
    font-size: 18px;
    font-style: italic;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    height: 24px;
    background-color: #bababa;

    opacity: 0;
    margin-top: -24px;
    position: absolute;
    width: 100%;
}

.nav > li {
    position: relative;
    display: block;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #2e3135;

}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #2e3135;
    color: #bababa;
}

.nav > li > a > img {
    max-width: none;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    margin-right: 0;
    line-height: 0;
    height: 10%;
    border: 0;
    border-radius: 0;
}

.nav-tabs > li > a:hover {
    border: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #cc782f;
    cursor: default;
    background-color: #2e3135;
    border: 0;
    border-bottom-color: transparent;
}






/* COLOURS */
p, a, h3, h4{
    color: #b4a3b3;
}



/* CENTERING */
.center-upvotes{
    transform: translateY(50%);
    text-align: center;
}

/* POSTS STYLING */
.upvote-styling p{
    font-size: 20px;
    margin-bottom: 0;
    color: #bababa;
}

.reddit-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;
    color: #cc782f;

}

.extra-post-info{
    font-size: 14px;
}

.extra-post-info p{
    margin-bottom: 5px;
    color: #e8a64a;

    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    overflow: hidden;
    width: 100%;
}

.left-well{
    /*padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;*/
    padding: 0;
    background-color: #3a3d41;
}

.bold{
    font-weight: bold;
    /*font-family: King;*/
}

.single-post{
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color: #f3dfde;*/
}

.single-post:hover,
.single-post:focus {
    text-decoration: none;
    background-color: #2e3135;
    /*border: none;*/
}

.tab-content{
    padding-left: 10px;
}

.nsfw {
    padding-right: 35px;
}

.nsfw p{
    color: #e1403b;
    text-align: right;
}



/* LINKS */
a:visited,
a:visited p{
    color: #966842;
}

a:hover{
    text-decoration: #5b687d underline;
}

