
/* CUSTOM FONT */
@font-face{
    font-family: Gravity-Book;
    src: url("/Gravity-Book.otf");
}

@font-face{
    font-family: Gravity-Bold;
    src: url("/Gravity-Bold.otf")
}

@font-face {
    font-family: King;
    src: url("/KIN668.TTF");
}

/* GRID CELLS STYLING */

.well {

    min-height: 0;
    padding: 20px;
    margin: 0;
    background-color: #f0dbe4;
    border: 0;
    border-radius: 0;
    border-collapse: collapse;

    /* remove super thin border between cells */
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav{
    min-height: 0;
    margin: 0;
    background-color: #f0cdec;
    border: 0;
    border-radius: 0;
    border-collapse: collapse;

    /* remove super thin border between cells */
    -webkit-box-shadow: none;
    box-shadow: none;

}

.border-left {
    border-left: 1px black solid;
}

.border-bottom {
    border-bottom: 1px black solid;
}

.border-right {
    border-right: 1px black solid;
}

.border-top{
    border-top: 1px black solid;
}

/* MULTI SCROLLING */

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;

    /*font-family: Gravity-Book;*/
    font-family: "Courier New";
}

::-webkit-scrollbar {
    width: 0;
    /* make scrollbar transparent */
    background: transparent;
}

#main-container {
    height: 100vh;
    display: flex;
}

#main {
    flex: 1;
    display: flex;
}

#left-column-0 {
    overflow-y: auto;
    height: 100%;
    flex: 1;

    padding-top: 45px;
    padding-bottom: 20px;
}

/*#right-column-0, #right-column-1 {
    overflow-y: auto;
    flex: 2;
}

#right-column-0 {
    height: 33%;
}

#right-column-1 {
    height: 67%;
}*/


/* for now we only display right-column-0 */
#right-column-0{
    overflow-y: auto;
    height: 100%;
    flex: 2;

    padding-top: 45px;
    padding-bottom: 20px;

}

#right-column-0 p{
    /*color: #252d37;*/
    margin-bottom: 0;
}

/* PADDING */

.container-fluid {
    padding: 0;
}

.col-md-5, .col-xs-5 {
    padding-right: 0;
    /*padding-left: 0;*/
}

.col-md-7, .col-xs-7 {
    padding-left: 0;
    padding-right: 0;
}

/* TABS */

.nav {
    font-size: 18px;
    font-style: italic;
    padding-left: 0;
    padding-bottom: 8px;
    margin-bottom: 0;
    list-style: none;

    height: 45px;

    background-color: rgb(255, 206, 215);

    margin-top: -35px;
    position: absolute;
    width: 100%;

    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}


.nav > li {
    position: relative;
    display: block;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #3b4550;

}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #3b4550;
    color: #cc782f;
}

.nav > li > a > img {
    max-width: none;
}

.nav-tabs {
    border-bottom: none;
    overflow: auto;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    margin-right: 0;
    line-height: 0;
    height: 10%;
    border: 0;
    border-radius: 0;
}

.nav-tabs > li > a:hover {
    border: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #cc782f;
    cursor: default;
    background-color: #3b4550;
    border: 0;
    border-bottom-color: transparent;
}

#comments-navbar,
#comments-navbar a{
    color: #e1c2c8;
}

#comments-navbar a:hover,
#comments-navbar a:focus{
    color: #cc782f;
    background-color: #3b4550;
}

.truncate-comment-tab a{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

/* TABS OVERFLOW */






/* COLOURS */
p, a, h3, h4{
    color: #b4a3b3;
}



/* CENTERING */
.center-upvotes{
    transform: translateY(50%);
    text-align: center;
}

/* POSTS STYLING */
.upvote-styling p{
    font-size: 20px;
    margin-bottom: 0;
    color: #bfbfbf;
}

.reddit-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;
    color: #cc782f;
    padding-right: 35px;
}

.extra-post-info{
    font-size: 14px;
}

.extra-post-info p{
    margin-bottom: 0;
    color: #e8a64a;

    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    overflow: hidden;
    width: 100%;
}

.left-well{
    /*padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;*/
    padding: 0;
    background-color: #3a3d41;
}

.right-well{
    /*padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;*/

    /*padding: 0;*/
    padding-left: 0;
    padding-right: 16px;
    background-color: #484d53;
}

.bold{
    font-weight: bold;
    /*font-family: King;*/
}

.single-post{
    padding-top: 10px;
    padding-bottom: 10px;

    padding-right: 10px;
    padding-left: 10px;
    /*background-color: #f3dfde;*/
}

.single-post:hover,
.single-post:focus {
    text-decoration: none;
    background-color: #2e3135;
    border-radius: 30px 0px 0px 0px;
    /*border: none;*/
}

.tab-content{
    padding-left: 10px;
}

.nsfw {
    padding-right: 35px;
}

.nsfw p{
    color: #e1403b;
    text-align: right;
}



/* LINKS */
a:visited,
a:visited p{
    color: #966842;
}

a:hover{
    text-decoration: #5b687d underline;
}

a p:hover{
    cursor: pointer;
}

/* EXTRA POST INFO */

.subreddit-link a p{
    color: #f0bdd1;
}

.post-upvotes{
    display: inline-block;
}

.post-upvotes p{
    display: inline;
    color: #b3d9e9;
}

/* COMMENT LINK */
.comment-link{

}

/* ICONS */
.upvote-icon{
    display: inline;
    margin-bottom: 3px;
}

.reverse-hue{
    margin-bottom: 5px;
    -webkit-filter : hue-rotate(180deg);
    filter : hue-rotate(180deg);
}

/* COMMENT */
.comment{
    color: #252d37;

    margin: 0;
    padding: 12px 0 10px 10px;
}

.comment-score{
    color: #46341d;
}

.comment-body a{
    color: #4682a0;
}

.comment:hover{
    border-left: 2px rgba(128, 145, 175, 0.5) solid;
}

.comment:hover p{
    visibility: visible;
}

.comment-body{
    margin: 0;
}

.comment-author{
    color: #746873;
}

.comment-body p{
    color: #252d37;
}

.large-comment-font{
    font-size: 16px;
}

.comment-headers div{
    padding-left: 0;
}

.comment-box{
    margin-left: 10px;
    margin-right: 16px;
}

#display-comments{
    padding-left: 0;
}

.comment-time{
    visibility: hidden;
}




/* scroll bars */
#mCSB_2_container{
    margin-right: 16px;
}



/* GRADIENT */
.dark-gradient{
    background: #515559; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #515559, #252d37); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #515559, #252d37); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #515559, #252d37); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #515559, #252d37); /* Standard syntax */
}

.orange-tint-gradient{
    background: #f5c7ff;
    background: -webkit-linear-gradient(left top, #ffced7, #957f96); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #f5c7ff, #957f96); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #f5c7ff, #957f96); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #f5c7ff, #957f96); /* Standard syntax */
}

.peach-gradient{
    background: #ffecf5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #ffecf5, #ffe8ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ffecf5, #e8cce9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ffecf5, #e8cce9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ffecf5, #e8cce9); /* Standard syntax */
}

.dark-blue-tint-gradient{
    background: #5d81aa; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #5d81aa, #274673); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #5d81aa, #274673); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #5d81aa, #274673); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #5d81aa, #274673); /* Standard syntax */
}


/* INLINE BLOCK */
.comment-username{
    display: inline-block;
}

.comment-username p,
.comment-username img{
    display: inline;
}